body {
    background-color: #f6fffb;
    margin: 0;
}

nav#main-nav {
    background-color: #135E46;
}

#main-nav a{
    background-color: #478966;
    padding: 1em;
    display: inline-block;
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all ease 300ms;
}

#main-nav a:hover {
    background-color: #73A788;
    color: aliceblue;
}