body {
    background-color: azure;
    margin: 0;
}

nav#main-nav {
    background-color: #8537c4;
}

#main-nav a{
    background-color: #ae72de;
    padding: 1em;
    display: inline-block;
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all ease 300ms;
}

#main-nav a:hover {
    background-color: #d3abf4;
    color: aliceblue;
}